body {
  background-color: #4d5e72;
  font-family: 'Times New Roman', Times, serif;
}

/* Logo and Nav bar */

#logo {
  color: #f1e6c1;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

/* Note: Using the !important keyword is the only way I could find to override the Bootstrap styling of the nav element besides using inline styling. 
   I know this is also not an ideal solution but since it is only applied to 2 specific elements by their id I feel it is still better than inline styling. */

#navContainer, #navContainerLogged {
  background-color: #4d5e72 !important;
}

#navBar, #navBarLogged, #myAcctScrollNav {
  background-color: #f1e6c1 !important;
  color: #d4b87d !important;
}

/* Main homepage contents */

#mainJumbo {
  background-image: url("Planterium.jpeg");
  background-repeat: no-repeat;
  background-size: cover;

  margin-left: 1%;
  margin-right: 1%;

  color: #f1e6c1;
  padding: 1%;
}

/* myAccount contents */
.main_contents {
  background-color: #f1e6c1;
  color: black;
  width: 90%;
  margin: 10px;
}

.bio_section, .my_plants {
  background-color: #f1e6c1;
  padding-left: 10px;
  padding-right: 10px;

}


/* Photo grid */
#photoGridContainer img {
  max-width: 100%;
  height: auto;
}

/* Styling tabs */
.tab {
  overflow: hidden;
  background-color: #d4b87d;
  margin-left: 1%;
  margin-right: 1%;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  font-family: serif;
  font-size: 17px;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #e4cfa0;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #f1e6c1;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  background-color: #f1e6c1;
  border-top: none;
  margin-left: 1%;
  margin-right: 1%;
}

/* Explore Posts */

.postImg {
  max-width: 200px;
}

/* About Us */
#aboutUs {
  background-color: #f1e6c1;
  white-space: pre-line;
  padding: 1%;
}

#aboutUsContainer {
  margin-left: 1%;
  margin-right: 1%;
}


/* Footer */

footer {
  background-color: #f1e6c1;
  align-items: center;
}
  


